/**
* @author Mücahid Dayan
*
*/

calendar.ng-isolate-scope {
    display: block;
    box-shadow: 0px 0px 1px 0px;
}

.event-calendar-view {
    display: flex;
}

.days.ng-scope {width: 100%;text-align: center;}