/**
* @author Mücahid Dayan
*
*/

calendar.ng-isolate-scope {
    display: block;
    padding:10px;
    height: auto;
}

month-view {
    display: flex;
    flex-wrap: wrap;
}

.days.ng-scope,.week-days {
    width: calc(100% / 7);
    text-align: center;
}
.day.today{
    background: #acacac;
}

.day.ng-scope {
    width: 100%;
    padding: 5px;
    text-align: center;
}

.days-in-week.ng-scope {
    width: calc(100% / 7);
}

.day.ng-scope.not-in-month {
    color: #acacac;
}